.productos{
    background-color: rgb(29 60 120 / 11%);
    border-radius: 3%;
    text-align: center;
    color: $color-fuente;
    font-family:$fuente-principal;
&__items{
    text-align: center;
    font-family: $fuente-secundaria;
    font-size: 1.5rem;
    color: $color-fuente;
}
&__imagenes{
    width: 10rem;
    height: 10rem;
    margin: 1rem 1rem;
    padding: 0.3rem;
    cursor: pointer;
}
&__imagenes:hover{
    transform: scale(2.5);
}
}